@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Eczar', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;



        &--first{
             position: absolute;
             left: 32px;
             top: 24px;
             box-shadow: 0px 1.596024513244629px 5.187079429626465px 0px #00000004;
        }
        &--second{
            position: absolute;
            left: 32px;
            top: 427px;
            box-shadow: 0px 5.360713958740234px 17.422321319580078px 0px #00000006;
        }
        &--third{
            position: absolute;
            left: 32px;
            top: 451px;
            box-shadow: 0px 24px 78px 0px #00000014;
        }


        &--first{
            box-shadow: 0px 24px 78px rgba(0, 0, 0, 0.08);
        }
        &--second{
            box-shadow: 0px 24px 78px rgba(0, 0, 0, 0.08);
        }
        &--third{
            box-shadow: 0px 24px 78px rgba(0, 0, 0, 0.08);
        }

        box-shadow: 0px 24px 78px rgba(0, 0, 0, 0.08), 0px 5.36071px 17.4223px rgba(0, 0, 0, 0.0238443), 0px 1.59602px 5.18708px rgba(0, 0, 0, 0.0161557);
*/
